/** light theme **/

$light-background-color: #fff;
$light-background-secondary: #eaeaea;

$light-font-color: #161209;
$light-font-secondary-color: #a8007e;

$light-navbar-active-color: #161209;

$light-global-link-color: #796300;
$light-global-link-hover-color:#1c6079;
$light-menu-link-color: #023949;
$light-menu-link-hover-color: #2d96bd;

$light-post-link-color: #1c6079;
$light-post-link-hover-color:#1c6079;

$light-pagination-link-color : #00516e;
$light-pagination-link-active-color: #000;

$light-border-color: #dcdcdc;



/** dark theme **/

$dark-background-color: #292a2d;
$dark-background-secondary: #3b3d42;

$dark-font-color: #a9a9b3;
$dark-font-secondary-color: #00b469;

$dark-navbar-active-color: #fff;

$dark-global-link-color: #fffb00;
$dark-global-link-hover-color:#fff;
$dark-menu-link-color: #2d96bd;
$dark-menu-link-hover-color: #00ff00;

$dark-post-link-color: #eee;
$dark-post-link-hover-color:#fff;

$dark-pagination-link-color : #a9a9b3;
$dark-pagination-link-active-color: #fff;

$dark-border-color: #4a4b50;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

:root {
    --phoneWidth: (max-width: 684px);
    --tabletWidth: (max-width: 900px);
  }
  