{{ define "content" -}}
{{ $cdn_url := .Scratch.Get "cdn_url" }}
<article class="post-warp" itemscope itemtype="http://schema.org/Article">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title | markdownify }}</h1>
        <div class="post-warp archive">
            <article class="archive-item">
                <h3 class="archive-item-link" style="text-align:left">Aliases: </h3>
                <h3 class="archive-item-date" style="text-align:right">{{ .Params.memberaliases }}</h3>
                <br>
                <h3 class="archive-item-link" style="text-align:left">Location: </h3>
                <h3 class="archive-item-date" style="text-align:right">{{ .Params.location }}</h3>
                <br>
                <h3 class="archive-item-link" style="text-align:left">Favorite Genres: </h3>
                <h3 class="archive-item-date" style="text-align:right">{{ .Params.favgenres }}</h3>
                <br>
                <h3 class="archive-item-link" style="text-align:left">Favorite Games: </h3>
                <h3 class="archive-item-date" style="text-align:right">{{ .Params.favgames }}</h3>
                <br>
                <h3 class="archive-item-link" style="text-align:left">Favorite Platforms: </h3>
                <h3 class="archive-item-date" style="text-align:right">{{ .Params.favplatforms }}</h3>
                <br><br>
                <h3 class="archive-item-link" style="text-align:left">Most Streamed Game(s): </h3>
                <h3 class="archive-item-date" style="text-align:right">{{ .Params.moststreamed }}</h3>
                <br><br>
                <h3 class="archive-item-link" style="text-align:left">Quote: </h3>
                <h3 class="archive-item-date" style="text-align:right">{{ .Params.quote }}</h3>
                <div class="post-content">
                    {{ .Content }}
                </div>                          
            </article>
        </div>
        <br><br>
    </header>

    <div class="post-copyright">
            <p class="copyright-item license">
                {{ replace .Site.Params.license "{year}" now.Year }}
            </p>
    </div>

    <div class="post-nav">
        {{ $pages := where site.RegularPages "Section" .Section }}
        {{ with $pages.ByTitle.Next . }}
            <a href="{{ .Permalink }}" class="prev" rel="prev" title="{{ .Title }}"><i class="iconfont icon-left"></i>&nbsp;{{ .Title }}</a>
        {{ end }}
    
        {{ with $pages.ByTitle.Prev . }}
            <a href="{{ .Permalink }}" class="next" rel="next" title="{{ .Title }}">{{ .Title }}&nbsp;<i class="iconfont icon-right"></i></a>
        {{ end }}
    </div>
    
</article>
{{- end }}
